<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To Do List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="">
    <style>

    </style>
</head>

<body>
    <div id="app">
        <label for="">
            新增代辦事項
            <input
                type="text"
                placeholder="Enter something"
                v-model="newItem"
            >
            <button @click="pushNewItem">新增</button>
        </label>
        <i>{{ newItem}}</i>
        <hr>
        <form>
            <div>
                <label v-for="item in toDoList">
                    <input
                        type="checkbox"
                        :value="item"
                        v-model="doneList"
                    >
                    {{ item }}
                </label>
            </div>
            <pre>{{ doneList }}</pre>
        </form>
    </div>
    <script>
    new Vue({
        el: "#app",
        data: {
            newItem: "",
            toDoList: ['洗衣服', '澆花', '拖地'],
            doneList: [],
        },
        methods: {
            pushNewItem: function() {
                this.toDoList.push(this.newItem);
            }
        }
    })
    </script>
</body>

</html>